html {
    padding: 0;
    margin: 0;
    background-color: #FFF3F1;
}

/* REPEATED STLYLES */
.viewport {
    height: 100vh;
    width: 100vw;
    background-color: #FFF3F1;
}
.list-decorations {
    list-style: none;
}

/* OPENING PAGE */

.background-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF3F1;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
}
.header {
    z-index: 10;
    font-size: 20em;
    color: rgba(255, 219, 109, 0.5);
    margin: -120px 0px;
}

.welcome-img {
    position: absolute;
    height: 70vh;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    box-shadow: 1px 1px 40px rgba(44, 28, 42, 0.3);
    transition:  ease-in-out 4s;
    overflow: hidden;
}
.welcome-img:hover {
    height: 100vh;
    transition:  ease-in-out 4s;
}


/* ABOUT */
#about-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffdb6d;
    position: absolute;
    z-index: -2;
}

.k-index {
    position: fixed;
    left: 70px;
    top: 3px;
    padding: 2px;
    z-index: -1;
}

.e-index {
    position: fixed;
    bottom: -1px;
    right: 70px;
    z-index: -1;
}

.z-index {
    position: fixed;
    left: 20px;
    bottom: 40px;
    padding: 2px;
    z-index: -1;
}

#number-nav-index {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    z-index: 40;
    position: fixed;
    left:39vw;
    right: 40vw;
    /*transform: translateX(-46%);*/
    top: 8px
}
#number-nav-index a {
    font-size: 1.5em;
    color: #381e34;
    padding: 10px;
    text-align: baseline;
}
#number-nav-index a:hover {
    color: #4A29DB;
}

.about-statement {
    height: 100vh;
    display: flex;
    align-items: center;

}
.about-para {
    font-size: 1.8em;
    letter-spacing: 0.2em;
    color: #381e34;
    overflow: hidden;
}
.about-para span {
    color: #FFF3F1;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}

/* 
GALLERY CAROUSEL 
*/

#carousel {
    width: 100%;
    height: 40vh;
    background-color: #FFF3F1;
    overflow: visible;
    white-space: nowrap;
    position: absolute;
    top: 21%;
}
.slide-box {
    width: 30vw;
    height: 10vh;
    font-size: 5em;
    text-align: center;
}

#carousel .slide {
    display: inline-block;
    height: 50vh;
    padding: 0px 1em;
}
#carousel .slide-h {
    height: 47vh;
}
#carousel .slide-v {
    height: 60vh;
}


/* 
FIXED LETTERS 
*/

.fixed-letters {
    color: #381e34;
    font-size: 2.5em;
}
.k {
    position: fixed;
    left: 70px;
    top: 3px;
    padding: 2px;
    z-index: 10;
}

.e {
    position: fixed;
    bottom: -1px;
    right: 70px;
    z-index: 10;
}

.z {
    position: fixed;
    left: 20px;
    bottom: 40px;
    padding: 2px;
    z-index: 10;
}

#number-nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 20vw;
    z-index: 10;
    position: fixed;
    left:39vw;
    right: 40vw;
    /*transform: translateX(-46%);*/
    top: 10px
}

#number-nav a {
    font-size: 1.5em;
    color: #381e34;
    padding: 5px;
    align-self: baseline;
}
#number-nav a:hover {
    color: #4A29DB;
}

.pos-f-t {
    position: fixed;
    z-index: 20;
}

.navbar-light .navbar-toggler-icon, .line {
    background-color: #381e34;
    height: 4px; 
}

.navbar-light .navbar-toggler-icon hr {
    background-color: #381e34;
    height: 3px;
    position: relative;
    top: -26px;
    right: 0px;
}

.fixed {
    background-color: #FFF3F1;
}

.p-4 {
    height: 100vh;
    width: 100vw;
    background-color: #7F55E8;
}

.p-4 .ul-right {
    position: absolute;
    right: 10px;    
    padding: 10vh 10vw 10vh 0px;
}

.p-4 .ul-left {
    position: absolute;
    left: 10px;
    padding: 10vh 0px 10vh 10vw;
}

.p-4 li {
    list-style: none;
    font-size: 5em;
}

.p-4 li a {
    color: #381e34;
}
.p-4 li a:hover {
    color: #FFDB6D;
}

#work {
    background-color: #FFF3F1;
}
.navbar-toggler {
    position: fixed;
    right: 5px;
    top: 10px;
}
#work {
    background-color: transparent;
}

/* CARD */
.card-columns {
    background-color: #FFF3F1;
    padding-top: 20vh;
}
.card {
    font-size: 0.6em;
    text-align: justify;
}
.card:hover {
    transform: scale(1.01);
    transition: ease-in-out .1s;
}
.card-text {
    padding: 10px;
}
.card-title {
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
.card-img-top {
    padding: 5px;
}
/* CONTACT FORM */
.contact-heading {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    color: #4A29DB;
    font-size: 3em;
    font-weight: 550;
}
.contact-section {
    display: grid;
    grid-template-columns: 50px repeat(8, 1fr) 50px;
    grid-template-rows: 50px repeat(8, 1fr) 50px;
}

.back-box {
    background-color: #FFDB6D;
    grid-gap: 20px;
    grid-column: 2 / 10;
    grid-row: 2 / 10;
}

.first-name {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
}
.last-name {
    grid-column: 6 / 9;
    grid-row: 4/ 5;
}

.phone-number {
    grid-column: 3 / 6;
    grid-row: 5 / 6;
}

.email-address {
    grid-column: 6 / 9;
    grid-row: 5 / 6;
}

.message-box {
    grid-column: 3 / 9;
    grid-row: 5/ 8;
}

.send {
    grid-column: 8 / 9;
    grid-row: 8 / 9;
}
.entry-data {
    color: #4A29DB;
    background-color: transparent;
    font-size: 1.6em;
    text-align: left;
    outline: none;
    border: 0;
    border-bottom: 5px solid #4A29DB;
    overflow: hidden;
    margin: 3px 0px;
}
.submit {
    color: #FFF3F1;
    background-color: transparent;
    font-size: 1.9em;
    text-align: center;
    border: 0;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #4A29DB;
    border-right: 5px solid #4A29DB;
    margin-top: 10px;
}

::placeholder {
    color: #FFF3F1;
    opacity: 1;
    font-size: 1.2em;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

